html[theme-mode=dark] body {
    --font-color: #F0F0F0FF;
    --bg-color: #050505FF;
}

body {
    --font-color: #2A2A2AFF;
    --bg-color: #F0F0F0FF;

    margin: 0;
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    background-color: var(--bg-color);

    font-family: 'Roboto Mono', monospace;
}
