html[theme-mode=dark] body {
    --font-color: #F0F0F0FF;
    --bg-color: #050505FF;
}

body {
    --font-color: #2A2A2AFF;
    --bg-color: #F0F0F0FF;

    margin: 0;
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    background-color: var(--bg-color);

    font-family: 'Roboto Mono', monospace;
}

div.screen-control.btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    transition: .3s;
}
div.screen-control.btn img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}
div.screen-control.btn:hover {
    filter: drop-shadow(0 0 4px #999999);
}
